* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color--primary: rgb(237, 165, 105);
    --color--second: rgb(252, 189, 36);
    --color--third: rgb(239, 107, 0);
    --color--fourth: rgb(119, 119, 119);
}
